div {
    margin-bottom: 1em;
}

label {
    font-weight: bold;
}

input {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 180px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    background-color: #3e4e9c;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}