.mat-toolbar {
    margin: 0;
    padding: 0;
    background-color: brown;
    color: aliceblue;
}

/* Apply custom styles to the navigation links */
.mat-button {
    text-transform: uppercase;
    margin: 0 8px;
    color: white;
}

a:hover {
    background-color: rgba(13, 199, 246, 0.795);
}