<div>
    <h2>Summary</h2>
    <ol>
        <li *ngIf="quizService.isNumberSubmitted">
            Number input: "{{quizService.numberInput}}" is
            <span *ngIf="quizService.isNumberCorrect" class="correct">correct.</span>
            <span *ngIf="!quizService.isNumberCorrect" class="incorrect">incorrect.</span>
        </li>
        <li *ngIf="quizService.isStringSubmitted">
            String input: "{{quizService.stringInput}}" is
            <span *ngIf="quizService.isStringCorrect" class="correct">correct.</span>
            <span *ngIf="!quizService.isStringCorrect" class="incorrect">incorrect.</span>
        </li>
        <li *ngIf="quizService.isArraySubmitted">
            Array input: "{{quizService.arrayInput}}" is
            <span *ngIf="quizService.isArrayCorrect" class="correct">correct.</span>
            <span *ngIf="!quizService.isArrayCorrect" class="incorrect">incorrect.</span>
        </li>
        <li *ngIf="quizService.isBooleanSubmitted">
            Boolean input: "{{quizService.booleanInput}}" is
            <span *ngIf="quizService.isBooleanCorrect" class="correct">correct.</span>
            <span *ngIf="!quizService.isBooleanCorrect" class="incorrect">incorrect.</span>
        </li>
        <li *ngIf="quizService.isAnySubmitted">
            Any input: "{{quizService.anyInput}}" is
            <span *ngIf="quizService.isAnyCorrect" class="correct">correct.</span>
            <span *ngIf="!quizService.isAnyCorrect" class="incorrect">incorrect.</span>
        </li>
        <li *ngIf="quizService.isUndefinedSubmitted">
            Undefined input: "{{quizService.undefinedInput}}" is
            <span *ngIf="quizService.isUndefinedCorrect" class="correct">correct.</span>
            <span *ngIf="!quizService.isUndefinedCorrect" class="incorrect">incorrect.</span>
        </li>
    </ol>
</div>